<!doctype html>
<html lang="en" >
<head>
  <meta charset="utf-8">
	<title>Angular Playground</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app/css/stylin.css">

  <script src="bower_components/angular/angular.min.js"></script>
</head>
<body ng-app="lnAngularApp" ng-controller="lnAngularAppCtrl as vm">

	
		<h2>{{vm.pageTitle}}</h2>

		<ul class="task-list">
			
			<li ng-repeat="task in vm.tasks"
					class="task-list__item"
					ng-class="{selected: task === vm.selectedTask}" 
					ng-click="vm.onSelectTask(task)">

					<span class="task-list__badge">{{task.id}}</span> {{task.title}}
			</li>

		</ul>


		<div ng-if="vm.selectedTask" class="task-details">
			<h3>{{vm.selectedTask.title}}
			
			<div class="task-details__form-group">
				<label class="task-details__form-label">ID: </label> {{vm.selectedTask.id}}
			</div>
			<div class="task-details__form-group">
				<label class="task-details__form-label">Subject: </label>
				<input class="task-details__form-input" ng-model="vm.selectedTask.title" placeholder="Task Subject"/>
			</div>
			<div class="task-details__form-group">
				<label class="task-details__form-label">Description: </label>
				<input class="task-details__form-input" ng-model="vm.selectedTask.description" placeholder="Task Description"/>
			</div>
		</div>

	  
  

  <script src="app/lnAngularApp.js"></script>

</body>
</html>