<div ng-if="$ctrl.show" class="task-details">
	<h3>{{$ctrl.selectedTask.title}}
	
	<div class="task-details__form-group">
		<label class="task-details__form-label">ID: </label> {{$ctrl.selectedTask.id}}
	</div>
	<div class="task-details__form-group">
		<label class="task-details__form-label">Title: </label>
		<input class="task-details__form-input" ng-model="$ctrl.selectedTask.title" placeholder="Task Title"/>
	</div>
	<div class="task-details__form-group">
		<label class="task-details__form-label">Description: </label>
		<input class="task-details__form-input" ng-model="$ctrl.selectedTask.description" placeholder="Task Description"/>
	</div>
</div>